<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Inventify</a>
        <ul>
            <li><a href="/items">Items</a></li>
            <li><a href="/items/new">Add Item</a></li>
        </ul>
    </nav>
</header>