<h2 class="page-header">New Item</h2>
<form action="/items" method="POST">
    <%- include('_form_fields') %>
    <a class="btn btn-danger" href="/items">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
</form>